.wrapper {
    background-color: var(--main-color);
    width: var(--default-layout-width);
    min-height: var(--default-layout-height);
    padding-top: 60px;
}
.inner {
    width: var(--default-layout-width);
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    animation: var(--flip);
}

// Responsive

@media (max-width: 46.1875em) {
    .wrapper {
        max-width: 46.1875em;
        width: 100%;
        min-width: 400px;
        max-height: var(--default-layout-height);
        min-height: 900px;
    }
}
/* PC */
@media (min-width: 1024px) {
}
/* TABLET & MOBILE */
@media (max-width: 63.9375em) {
}
/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
