.wrapper {
    background-color: var(--main-color);
    min-height: var(--default-layout-height);
    display: flex;
    justify-content: center;
}
.inner {
    width: 80%;
    height: 100%;
    padding-top: 30px;
    animation: var(--flip);
}

// Responsive

@media (max-width: 46.1875em) {
    .wrapper {
        width: auto;

        min-width: 375px;
        height: auto;
        max-height: 1000px;
        min-height: 915px;
    }
}
/* PC */
@media (min-width: 1024px) {
}
/* TABLET & MOBILE */
@media (max-width: 63.9375em) {
}
/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        width: auto;

        min-width: 900px;
        height: auto;
        max-height: 1180px;
        min-height: 1024px;
    }
}
