.wrapper {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    padding-top: 10%;
}
.inner {
    width: auto;
    height: 100%;
    padding-top: 30px;
    animation: var(--flip);
}
.content {
    padding: 40px 0;
    color: var(--extra-color);
    display: flex;
    align-items: center;

    h1 {
        font-size: 5rem;
    }

    span {
        font-size: 1.6rem;
        margin-left: 20px;
        display: flex;

        p {
            margin-right: 10px;
        }
    }

    img {
        width: 62%;
        height: 52%;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid var(--extra-color);
    }
}
.item {
    margin-left: 28px;

    button {
        margin-left: 20px;
        margin-top: 33px;
        font-size: 2rem;
        font-weight: 700;
        padding: 25px;
        border-radius: 10px;
        background-color: var(--extra-color);

        a {
            color: var(--main-color);
        }

        &:hover {
            cursor: pointer;
            opacity: 90%;
        }
    }
}
// Responsive
@media (max-width: 46.1875em) {
    .content {
        align-items: flex-start;
        flex-direction: column;

        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
            border-radius: 10px;
        }

        h1 {
            font-size: 2rem;
            margin: 6px 0;
        }
        span {
            font-size: 1.6rem;
            margin: 8px 0;
        }
    }
    .item {
        button {
            width: 90%;
            height: 30%;
            padding: 10px;
            font-size: 1.8rem;
            margin: 10px 0;
        }
    }
}
/* PC */
@media (min-width: 1024px) {
}
/* TABLET & MOBILE */
@media (max-width: 63.9375em) {
}
/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
