.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    min-width: 50%;
    height: 500px;
}
.item {
    min-width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 4rem;
        width: 80px;
        height: 80px;
        padding: 20px;
        color: var(--main-color);
        background-color: var(--extra-color);
    }

    p {
        margin-top: 10px;
        color: var(--extra-color);
    }
}
