.inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    height: 160px;
    padding: 20px;
    color: var(--extra-color);
    border: 1px solid var(--extra-color);
    border-radius: 12px;
    p {
        margin-top: 10px;
    }
}
